pyyaml==6.0.1
asf-search==7.1.3
pyproj==3.6.1
scipy==1.14.0
rasterio==1.3.10
geopandas==1.0.0
boto3==1.34.137
git+https://github.com/abradley60/dem-stitcher.git@dem_fill 
opencv-python-headless==4.10.0.84